<%- include('master/header'); -%>
<br>
<link rel="stylesheet" href="/css/chat.css" />
    <div class="container">
        <div class="messaging">
            <div class="inbox_msg">
                <div class="inbox_people">
                    <div class="headind_srch">
                        <div class="recent_heading">
                            <h4>Recent</h4>
                        </div>
                        <div class="srch_bar">
                            <div class="stylish-input-group">
                                <input type="text" class="search-bar"  placeholder="Search" >
                                <span class="input-group-addon">
                <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                </span> </div>
                        </div>
                    </div>
                    <div class="inbox_chat">
                        <% users.forEach(function (user) { %>
                            <a href="<%= "/message/user/"+user.id %>">
                                <div class="chat_list <% if (user.id == receiver_id) { %> active_chat <% } %>">
                                    <div class="chat_people">
                                        <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                                        <div class="chat_ib">
                                            <h5><%= user.name %> <span class="chat_date">Dec 25</span></h5>
                                            <p>Click to start chatting</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        <% }) %>
                    </div>
                </div>
                <div class="mesgs">
                    <%- include("messages") %>
                </div>
            </div>
        </div>
    </div>